<html>
  <head>
    <style type="text/css">
      iframe { display: none; }
    </style>
  <body>
    <h1>Form Which Submits To An iframe</h1>
    <form method="post" action="create_session" target="example_iframe">
      <label for="username">Username</label>
      <input type="text" id="username" placeholder="username"></input>
      <button>Submit</button>
    </form>
    <iframe id="example_iframe"></iframe>
    </form>
  </body>
</html>

